html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
    padding: 20px;
    background-color: white;
}

table {
    margin-top: 10px;
}

.panel-title {
    margin: -10px -10px 10px -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #eee;
}


.panel {
    justify-content: center;
    background-color: #fff;
    border: 1px solid silver;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 3px rgba(10, 10, 10, 0.05);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.panel.first {
    margin-top: 0px;
}

.w-60 {width: 60%;}


.table td {
    vertical-align: baseline;
}
